<form
  action="/fruits/create"
  enctype="application/x-www-form-urlencoded"
  method="post"
>
  <input type="text" name="name" />
  <button>jonatish</button>
</form>
<form
  action="/fruits/update/"
  enctype="application/x-www-form-urlencoded"
  method="put"
>
  <input type="text" name="name" />
  <br />
  <input type="number" name="id" placeholder="id" />
  <button>jonatish</button>
</form>